/* =================================================================== 
*  TOC:
*  # webfonts and iconfonts
*  # reset css
*  # typography & general theme styles
*      ## links
*      ## paragraphs
*      ## buttons
*      ## heading
*      ## responsive video container
*      ## inputs
*      ## search
*  # header styles
*      ## header logo
*      ## navigation
*      ## mobile menu toggle
*  # main
*  # about
*  # films
*  # film_detail
*  # news
*  # news_detail
*  # contact_us
*  # responsive
* =================================================================== */


/* ===================================================================
* # webfonts + iconmonstr
*
* ------------------------------------------------------------------- */

@import url("iconic/css/iconmonstr-iconic-font.min.css");
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto');

/* ===================================================================
* # reset.css
*
* ------------------------------------------------------------------- */

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	font-family: 'Abel', sans-serif;
	font-size: 10px;
	line-height: 1;
}
a {
	text-decoration: none;
}

/* ===================================================================
* # typography & general theme styles
*
* ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## Links
 * ------------------------------------------------------------------- */

a{
	font-size: 2.4rem;
	letter-spacing: .12rem;
	text-transform: uppercase;
}

/* ------------------------------------------------------------------- 
 * ## Paragraphs
 * ------------------------------------------------------------------- */

 p{
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 0.04rem;
}

/* For Dates */

p > span {
	color: #000000;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.88;
	letter-spacing: .03rem;
}

/* ------------------------------------------------------------------- 
 * ## Buttons
 * ------------------------------------------------------------------- */

 .btn, button, 
 input[type="submit"], 
 input[type="reset"], 
 input[type="button"] {
	 display: inline-block;
	 font-family: 'Abel', sans-serif;
	 font-size: 2.4rem;
	 text-transform: uppercase;
	 height: 5.4rem;
	 line-height: calc(5.4rem - .6rem);
	 padding: 0 3rem;
	 margin: 0 .3rem 1.2rem 0;
	 color: #151515;
	 text-decoration: none;
	 cursor: pointer;
	 text-align: center;
	 white-space: nowrap;
	 -webkit-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
	 border: .2rem solid #000000;
 }
 
 .btn:hover, 
 .btn:focus,
 input[type="button"]:focus,
 input[type="button"]:hover{
	 background: #000000 !important;
	 color: #FFFFFF;
 }

 .btn.full-width, button.full-width {
    width: 100%;
    margin-right: 0;
}

/* ===================================================================
* # heading
*
* ------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6{
	color: #000000;
	text-transform: uppercase;
	text-align: left;
}

h1, h2, h3{
	font-size: 4.8rem;
	letter-spacing: .24rem;
}

h2{
	display: inline-block;
	padding: 72px 0 63px 132px;
	position: relative;
}

h2:before {
	background: #000;
	content: "";
	display: block;
	height: 4.8rem;
	width: 8px;
	position: absolute;
	left: 0;
  }

h4{
	font-size: 3.2rem;
	line-height: 48px;
	letter-spacing: 0.16rem;
	text-align: center;
}

h5{
	font-size: 2.4rem;
	letter-spacing: .12rem;
	line-height: 1.5;
}

h6{
	font-size: 4rem;
	line-height: 1.2;
	letter-spacing: 0.2rem;
}

@media (max-width: 767px) {
	h2{
		padding: 24px 0 25px 19px;
	}

	h5{
		font-size: 2rem;
	}
}

.main-header {

}

/* ===================================================================
* # header
*
* ------------------------------------------------------------------- */

nav {
	position: relative;
	height: 100%;
	width: 100%;
} 

header{
	height: 96px;
}

.header {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2.75rem 11.7rem;
	position: absolute;
	left: 0;
	top: 0;
	height: 8rem;
	width: 100%;
}

.header-logo::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.46;
    -moz-border-radius: .75rem;
    -webkit-border-radius: .75rem;
    border-radius: .75rem;
    background-color: #c79900;
}

.header-logo a, .header-links a {
	color: #fff;
	padding-left: .8rem;
}

.header-links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-links a {
	padding-left: 3.4rem;
}

.header-links a:first-child{
	padding-left: 0;
}

.header-links i{
	font-size: 2.11rem;
}

.header.offset {
	transform: translate3d(0, -100%, 0);
	transition: all 1s ease-in-out;
}

.header.fixed {
	background-color: #000;
	opacity: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	z-index: 1;
}

.header.fixed.scrolling {
	opacity: 1;
	transform: translate3d(0, 0%, 0);
	visibility: visible;
}

/* ===================================================================
* # slider
*
* ------------------------------------------------------------------- */

.slider img {
	height: 100vh;
	width: 100%;
}

/* ===================================================================
* # contact us
*
* ------------------------------------------------------------------- */

.contact{
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.contact__details{
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 40vh;
}

.contact__details a{
	color: #c79900;
}

.contact__email{
	margin-bottom: 30px;
}

.contact__location{
	height: 30vh;
}

/* ------------------------------------------------------------------- 
 * ## Buttons
 * ------------------------------------------------------------------- */


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}